@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;

}
#logo {
    width:20%;
}
#navigation {
    width:80%;
}
#logo {
    font-size:24px;
    color:rgb(255, 44, 90);
}
#navigation {
    text-align:right;
}
#navigation a {
    color:inherit;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.4s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}
#top_part {
    width:100%;
    border:2vh solid #fff;
}
#top_part tr td{
    width:50%;
}
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:rgb(255, 44, 90);
    font-size:40px;
    padding:8px 17px;
    border-radius:100%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}
.social:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(255, 44, 90);
    box-shadow:0px 10px 30px rgba(255, 66, 107,0.8);
}
.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 44, 90);
    background:#fff;
    border:3px solid rgb(255, 44, 90);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(255, 44, 90, 0.8);
    cursor:pointer;
    color:#fff;
    background:rgb(255, 44, 90);
}
#rightImage {
    width:90%;
    height:95vh;
    background:linear-gradient(0deg,rgba(255, 44, 90, 0.7),rgba(2255, 44, 90, 0.7)),url("download.png") center center;
    background-size:cover;
    background-repeat:no-repeat;
}
#work {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
   
}
#work h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:6%;
}
#photos {
    width:100%;
    columns:3;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
}
#photos img {
    width:100%;
    height:auto;
    margin:4.5% 0px;
    transition:0.4s ease-in-out;
}
#photos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#bio {
    width:92vw;
    padding:6vh 4vw;
   
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:18%;
}
#bio1 {
    width:46vw;
    padding:6vh 4vw;
   
}
#bio1 h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:24%;
}
#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:10%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
font-size:25px;
}
#contact form {
    width:100%;
}
#contact form input {
    width:96%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#000;
    font-weight:bold;
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#000;
    font-weight:bold;
}
#contact form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#address {
    position:relative;
    top:-25px;
    left:30px;
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    color:rgb(255, 44, 90);
    text-decoration:none;
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}

@media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(255, 44, 90, 0.8);
    background:rgb(255, 44, 90);
    color:#fff;
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(255, 44, 90, 0.8);
        cursor:pointer;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:19%;
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:#fff;
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        color:#000;
    }
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 80px;
  bottom: 80px;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 20px 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 10px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: rgb(255, 44, 90);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
